.post-img {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}

.panel {
    border:2px dashed #dadada;
}

.panel:hover {
    border:2px solid #dadada;
}

.editable{
    outline-style:none;
}
