body
{
    overflow : hidden;
}
.panel
{
    margin : 0;
    overflow : hidden;
}

.panel-heading
{
    width : 100%;
    height : 40px;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}

.panel-body
{
    overflow-y : scroll;
    overflow-x : hidden;
    padding : 0 10px 0 10px;
}

.panel-footer
{
    height : 50px;
    position :absolute;
    bottom : 0;
}
.chat /* ul */
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.message /* li */
{
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px dotted #B3A9A9;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.img-circle
{
    margin-right: 5px;
    margin-left: 5px;
}

::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
